body{
  margin: 0;
  padding: 0 0 0 0 ;
}
section {
  display: block;
}

#loading{
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  position: fixed;
  display:block;
  opacity:1;
  background-color:#fff;
  z-index:105;
  text-align:center;
}
#loading-image{
  position:absolute;
  top:50%;
  left:50%;
  z-index:106;
}
#header{
  position:fixed;
  top:0;
  width: 100%;
  padding: 5px;
  z-index:99;
  height: 50px;
}

#nav{
  margin: 0px;
  padding: 3px 0;
}
#nav ul {
  float: right;
  margin-right: 20px;
}
#nav li {
  display: inline;
}
#nav li a {
  display:inline-block;
  text-decoration: none;
  color: #727272;
  position: relative;
  font-size:16px;
  font-family: 'Coda';
  padding: 5px 10px 0 5px;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

}

#nav li a:hover{
  transform:translate(-5px, 5px);
  -webkit-transform:translate(-5px, 5px);
  -moz-transform:translate(-5px, 5px);
  /* font-weight:  bold; */
  color: #bdd8a7;
}

/* end of header */
#main {
  overflow: hidden; /* 차이 모르겠는데?*/
}
#section1{
  width: 100%
  height: 320px;
  background-color:#ffffff ;
  overflow: hidden
  padding: 0;
  margin-bottom: 70px;
}

#name {
  padding: 90px 0px;
  text-align:center;
}

#name img{
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
}
@keyframes fadein{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-moz-keyframes fadein{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-webkit-keyframes fadein{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
#english{
  font-family: 'Coda';
  font-size: 48px;
  text-align:center;
  margin:0;
}
#korean{
  font-family: 'Noto Serif KR';
  font-size: 30px;
  text-align:center;
  margin:0;
}

#section2{
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top:0;
margin-bottom: 50px;
}
/*

프로젝트모달

*/
#myModal1, #myModal2, #myModal3, #myModal4{
  /* 모달창 띄웠을 때 바탕  */
  display:none;
  position:fixed;
  z-index:101;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
#modal_title1, #modal_title2, #modal_title3, #modal_title4{
  cursor: pointer;
  border:none;
  background:none;
  color: white;
  font-size:30px;
  font-family: 'Roboto';
  opacity:0.8;
}
.title p{
  opacity:0.8;
}
button:focus{
  outline:none !important;
}

.modal-content{
  background-color:#fefefe;
  margin:5% auto;
  padding: 20px;
  border:1px solid #727272;
  max-width:75%;
  /* max-height: calc(100% - 20px); */
  z-index:99;

}
.subject{
  color:#323232;
  font-family:'Sans-serif','Roboto';
  font-size:24px;
  width: calc(100% - 20px);
  background-color: #F5f5f5;
  font-weight: normal;
  padding:20px 0 20px 20px;
  margin:50px 0 30px 0;
  left: 5%;
  top:30px;
}
.close{
  top:30px;
  color: #323232;
  float:right;
  z-index: 102;
  padding-left:5px;
  padding-right:5px;
  cursor:pointer;
  right: 5%;
  font-size: 30px;
  margin: 10px;
  height: 30px;
}

.main_container{
  text-align:center;
  width: 100%;
}

.img-wrapper{
  position:relative;
  text-align: center;
  overflow:hidden;
}

.img-wrapper {
  margin:8px;
  width:350px;
  height:350px;
}
.img-wrapper img{
  position: absolute;
  top:0;
  left:0;
  width:350px;
  height:350px;
  text-align:center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.line{
  position: absolute;
  top:25px;
  left:25px;
  width:300px;
  height: 300px;
  border: 1px solid white;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  opacity:0;
  text-align: center;
}

.darkness{
  position:absolute;
  top:0;
  left:0;
  width:inherit;
  height:inherit;
  background:black;
  opacity:0;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
}
.title{
  position:absolute;
  color:white;
  top:80px;
  width:300px;
  z-index:99;
  font-family:'Roboto';
  opacity:0;
}

.title p{
  color: white;
  font-size: 20px;
  z-index:99;
  font-family: 'Roboto';
}

.img-wrapper:hover .darkness{
  opacity:0.7;
}
.img-wrapper:hover .title{
  opacity:0.9;
}
.img-wrapper:hover .line{
  opacity: 0.9;
}
.img-wrapper:hover img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/*

 CSS for Dream Academy Document

 */
.pro_container {
  width: 70.8%;
  max-width : 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0px;
  clear: both;
}

.content_wrapper {
  max-width : 1120px;
  margin: 0 auto ;
  margin-bottom: 50px;
  clear: both;
}
.content_wrapper ul li{
  list-style: square outside none;
}

p span{
  color: black;
  font-family: 'Roboto';
}

.content_total{
  width: 70.8%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align:center;
}

.pro_box {
  border-left: 1px solid #727272;;
  margin-bottom: 30px;
  padding-left: 20px;
}
.pro_H3 {
  font-family: 'clear_sans_lightregular', sans-serif;
  color: #323232;
  font-size: 1.1em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

p {
  font-family: 'clear_sans_lightregular', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 10px;
}


div .design_process img {
  width: 90%;
  margin: 30px auto;
  display: block;
}

.video {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.modal_project{
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.video_wrap{
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

/*

CSS for data viz content

*/
.data_process{
  display: inline-block;

}
div .data_process img{
  width: 600px;
  height: 450px;
  margin: 10px;
}
/* --------------CSS for About-----------  */
#section3{
  margin: 80px auto;
  text-align:center;
}


#section3 .main_container
{
  padding:10px;
  display: inline-block;
  width: 70%;
  line-height: 1.5em;
}

.myName{
  font-family: 'clear_sans_lightregular', sans-serif;
  color: #242424;
  font-size: 1em;
  margin: 0 0 10px 0;
}

.me_wrap{
  padding: 50px;
  width: 70%;
  background-color: #F5f5f5;
  margin: 20px;
  display: inline-block;
}

.me_describ{
  list-style: none;
  padding: 5px;
}

.me_describ  li  span{
  display: inline-block;
  /* width: 130px; */
  letter-spacing: 2px;
  color: #242424;
  font-size: 14px;
}




#footer{
  background-color: #D3E1BE;
  margin : 0;
  position: relative;
  bottom:0;
  width: 100%;
  clear: both;
}

.copyright {
  color: #242424;
  font-size: 0.9em;
  font-family: 'Coda';
  padding: 0;
  line-height: 40px;
  text-align : center;
  width: 45%;
  margin:5px;
  display: inline-block;
}
.email{
  color: #242424;
  font-size: 0.9em;
  font-family: 'Coda';
  line-height: 40px;
  text-align: center;
  width: 45%;
  margin:5px;
  display: inline-block;
}
/* .social ul{
   list-style: none;
   padding: 0;
   text-align: center;
   height: 40px;
   position: relative;
   margin: 0 auto;

}

.social li{
  display: inline-block;
  margin: 5px;
  position:relative;
}
.social{
  display: inline-block;
  margin:5px;
  width: 30%;
  padding:0;

} */
.head_container{
  clear: both;
  padding: 10px 0 10px 0;
}

.foot_container{
  clear: both;
  padding: 10px 0 10px 0;
}


/*

1. 로딩이미지 위치
3. hover 효과 없애기
4. modal 스크롤이 안되는데?-> modal 사이즈 줄이기
5. about me 사이즈

*/

@media screen and (max-width: 639px) {

  #modal_title1, #modal_title2, #modal_title3, #modal_title4
  {
    font-size:15px;
  }
  /* video{
    width: 480px;

  } */
  #footer .column{
    width:100%;
    font-size: 12px;
    text-align:center;
  }
}
@media screen and (max-width: 750px) {
  .subject{
    font-size:15px;
    width: calc(100% - 20px);
    padding:20px 0 20px 20px;
    margin:50px 0 30px 0;
    left: 5%;
    top:30px;
  }
  .img-wrapper, .img-wrapper img, .darkness {
    width: 200px;
    height:200px;
  }
  .line{
    width: 150px;
    height: 150px;
  }
  .title{
    width: 150px;
    top: 30px;
    font-size:15px;
  }
  .title p{
    font-size: 15px;
  }
.myName, .me_describ p{
  font-size: 13px;
}
.close {
  font-size: 20px;
}
div .data_process img{
  width: 480px;
  height: 360px;
}
}

@media screen and (max-width: 850px) {



}
@media screen and (max-width: 990px) {
  div .design_process img{
    width: 500px;
  }
  video{
    width: 480px;
    height: 360px;
  }
}

@media (hover:none){

}
